.checkinnlaunch-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.checkinnlaunch-checkinnlaunch {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.checkinnlaunch-group {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.checkinnlaunch-contents {
  top: 203px;
  left: 391px;
  width: 657px;
  height: 490px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.checkinnlaunch-frame {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 246, 238, 0.20000000298023224);
}
.checkinnlaunch-pic {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  position: absolute;
}

.checkinnlaunch-checkinn {
  top: 301px;
  left: 0px;
  width: 657px;
  height: 189px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.checkinnlaunch-text {
  left: 441px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 150px;
  text-align: left;
  font-family: "Outfit";
  font-weight: 1000;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.checkinnlaunch-text2 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 150px;
  text-align: left;
  font-family: "Outfit";
  font-weight: 1000;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.checkinnlaunch-logopiclaunch {
  top: 0px;
  left: 126px;
  width: 405px;
  height: 356px;
  position: absolute;
}

