.checkinnhome-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .checkinnhome-checkinnhome {
    gap: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 1);
  }
  .checkinnhome-group {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1024px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkinnhome-frame {
    left: 0px;
    width: 1440px;
    height: 1024px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    /*background-color: rgba(255, 246, 238, 0.20000000298023224);*/
  }
  .checkinnhome-homepic {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1024px;
    position: absolute;
    opacity: .6;
  }
  .checkinnhome-contents {
    top: 75px;
    left: 75px;
    width: 1291px;
    bottom: -14px;
    height: 981px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: rgb(255, 167, 79);
    border-width: 7px;
    border-radius: var(--dl-radius-radius-radius8);
    z-index: 1;
  }
  .checkinnhome-title {
    top: 75px;
    left: 428px;
    width: 368px;
    height: 130px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkinnhome-check-inn {
    right: -11px;
    width: 368px;
    bottom: -6px;
    height: 101px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkinnhome-text {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 80px;
    font-style: Bold;
    text-align: left;
    font-family: Outfit;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkinnhome-text2 {
    left: 253px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 80px;
    font-style: Bold;
    text-align: left;
    font-family: Outfit;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkinnhome-text4 {
    color: #ffa74f;
    right: 5px;
    bottom: -28px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Outfit;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkinnhome-titlebar {
    top: 10px;
    right: 50px;
    width: 1195.25px;
    height: 89.68013763427734px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkinnhome-checkinnhomelogo {
    top: 0px;
    left: 0px;
    width: 101px;
    height: 90px;
    position: absolute;
  }
  .checkinnhome-button {
    top: 15px;
    color: #ffffff;
    right: 0px;
    width: 90px;
    height: 40px;
    position: absolute;
    font-size: 20px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-family: Outfit;
    font-weight: 500;
  
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(38, 98, 33);
  }
  .checkinnhome-button:hover {
    opacity: .5;
  }
  .checkinnhome-container1 {
    top: 846.5px;
    left: 74px;
    width: 1113px;
    height: 34.5px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .checkinnhome-button1 {
    top: 0px;
    left: -25px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 25px;
    font-style: normal;
    font-family: Outfit;
    font-weight: 300;
    padding-top: 0px;
    border: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    cursor: pointer;
    background-color: transparent;
  }
  .checkinnhome-button1:hover {
    opacity: .5;
      }
  .checkinnhome-button2 {
    top: 0px;
    color: rgb(255, 255, 255);
    right: -55px;
    position: absolute;
    font-size: 25px;
    font-style: normal;
    font-family: Outfit;
    font-weight: 300;
    padding-top: 0px;
    border: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    cursor: pointer;
    background-color: transparent;
  }
  .checkinnhome-button2:hover {
opacity: .5;
  }
  .icon111 {
    top: 0px;
    left: 135px;
    width: 32px;
    position: absolute;
    height: 32px;
    display: flex;
    fill:transparent;
    stroke-width: 20px;
    stroke: #ffffff;
}
.icon222 {
  top: 0px;
  left: 136px;
  width: 32px;
  position: absolute;
  height: 32px;
  display: flex;
  fill: #ffffff;
}
.icon333 {
  top: 0px;
  right: 19px;
  width: 32px;
  position: absolute;
  height: 32px;
  display: flex;
  fill:transparent;
  stroke-width: 20px;
  stroke: #ffffff;
}
.icon444 {
  top: 0px;
  right: 18px;
  width: 67px;
  height: 32px;
  display: flex;
  fill: #ffffff;
}
.text111{
  top: 0px;
  color: rgb(255, 255, 255);
  left: 0px;
  white-space: nowrap;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-family: Outfit;
  font-weight: 300;
}
.text222{
  top: 0px;
  color: rgb(255, 255, 255);
  right: 60px;
  white-space: nowrap;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-family: Outfit;
  font-weight: 300;
}