body {
    background-color: rgba(255, 246, 238);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  h1 {
    
    top: 150px;
    left: 350px;
    margin: 25px auto 0 -35px;
    position: absolute;
    font-size: 40px;
    font-style: Bold;
    font-family: Outfit;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
}
  .stdntnotifysettings-sidebarbox {
    top: 0px;
    left: 0px;
    width: 192px;
    height: 100%;
    position: absolute;
    background-color: #266221;
  }
  
  .notifysettings-navigation {
    margin-top: 20px;
  }
  
  .notifysettings-sidebar{
    width: 192px;
    height: 1024px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .notifysettings-1{
   top: 285px;
    left: 71px;
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
  }
.notifysettings-1:hover{
  opacity: .6;
}
  .notifysettingsicon-1{
    top: 285px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffffff;
  }
  .notifysettingstext-1{
    top: 50px;
    left: -6px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     white-space: nowrap;
     display: flex;
   }
   .notifysettingstext-1:hover{
    opacity: .6;
  }
  .notifysettings-2{
    top: 435px;
     left: 71px;
     position: absolute;
     width: 50px;
     height: 50px;
     display: flex;
   }
   .notifysettings-2:hover{
    opacity: .6;
  }
  .notifysettingsicon-2{
    top: 435px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffa74f;
  }
  .notifysettingstext-2{
    top: 50px;
    left: -17px;
     color: #ffa74f;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     display: flex;
     white-space: nowrap;
   }
   .notifysettingstext-2:hover{
    opacity: .6;
  }
  .notifysettings-3{
    top: 585px;
     left: 71px;
     position: absolute;
     width: 50px;
     height: 50px;
     display: flex;
   }
   .notifysettings-3:hover{
    opacity: .6;
  }
  .notifysettingsicon-3{
    top: 585px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffffff 
   }
  .notifysettingstext-3{
    top: 50px;
    left: -40px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     display: flex;
     white-space: nowrap;
   }
   .notifysettingstext-3:hover{
    opacity: .6;
  }
  .notifysettings-4{
    top: 735px;
     left: 71px;
     position: absolute;
     width: 50px;
     height: 50px;
     display: flex;
   }
   .notifysettings-4:hover{
    opacity: .6;
  }
  .notifysettingsicon-4{
    top: 735px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffffff;

  }
  .notifysettingstext-4{
    top: 50px;
    left: 2px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     display: flex;
     white-space: nowrap;
   }
   .notifysettingstext-4:hover{
    opacity: .6;
  }
  .stdntnotifysettings-logopic{
    top: 85px;
    left: 1222px;
    width: 101px;
    height: 90px;
    position: absolute;
  }
  .stdntnotifysettings-headerbox {
    top: 201px;
    left: 192px;
    height: 130px;
    width: 1231px;
    position: absolute;
    background-color: #266221;
  }
  .notifysettingstext-5{
    top: 50px;
    left: 150px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;

     
   }
   .notifysettingstext-5:hover{
    opacity: .6;
  }
  .notifysettingstext-6{
    top: 50px;
    left: 500px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;

     
   }
   .notifysettingstext-6:hover{
    opacity: .6;
  }
  .notifysettingstext-7{
    top: 50px;
    left: 900px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;

     
   }
   .notifysettingstext-7:hover{
    opacity: .6;
  }
  .stdntnotifysettings-form {
    display: grid;
    width: 900px;
    margin: 600px 0px 100px 70px;
    gap: 15px;
  }
  
  .notifysettingspic{
    width: 60px;
    height: 40px;
    position: absolute;
    top: 115px;
    left: 536px;
  }

 

 