.checkinnstudenthome-container {
  width: 100%;
  max-height: 1024px;
  display: flex;
  top: 0px;
  position: absolute;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  }
  .checkinnstudenthome-studenthome {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 246, 238);
  }
  .checkinnstudenthome-group {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1024px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkinnstudenthome-frame {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1024px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkinnstudenthome-bgcolor {
    top: 1024px;
    left: 0px;
    width: 1440px;
    height: 1024px;
    position: absolute;
background-color: rgba(255, 246, 238);
  }
  .checkinnstudenthome-sidebarbox {
    top: 0px;
    left: 0px;
    width: 192px;
    height: 100%;
    position: absolute;
    background-color: #226622;
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .navigation {
    margin-top: 20px;
  }
  
  .sidebar-menu {
    width: 192px;
    height: 1024px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .active1{
   top: 285px;
    left: 71px;
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
  }
.active1:hover{
  opacity: .6;
}
  .icon1{
    top: 285px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffa74f;
  }
  .menu-text1{
    top: 50px;
    left: -6px;
     color: #ffa74f;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     white-space: nowrap;
     display: flex;
   }
   .menu-text1:hover{
    opacity: .6;
  }
  .active2{
    top: 435px;
     left: 71px;
     position: absolute;
     width: 50px;
     height: 50px;
     display: flex;
   }
   .active2:hover{
    opacity: .6;
  }
  .icon2{
    top: 435px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffffff;
  }
  .menu-text2{
    top: 50px;
    left: -17px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     display: flex;
     white-space: nowrap;
   }
   .menu-text2:hover{
    opacity: .6;
  }
  .active3{
    top: 585px;
     left: 71px;
     position: absolute;
     width: 50px;
     height: 50px;
     display: flex;
   }
   .active3:hover{
    opacity: .6;
  }
  .icon3{
    top: 585px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffffff;
  }
  .menu-text3{
    top: 50px;
    left: -40px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     display: flex;
     white-space: nowrap;
   }
   .menu-text3:hover{
    opacity: .6;
  }
  .active4{
    top: 735px;
     left: 71px;
     position: absolute;
     width: 50px;
     height: 50px;
     display: flex;
   }
   .active4:hover{
    opacity: .6;
  }
  .icon4{
    top: 735px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffffff;

  }
  .menu-text4{
    top: 50px;
    left: 2px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     display: flex;
     white-space: nowrap;
   }
   .menu-text4:hover{
    opacity: .6;
  }
  .checkinnstudenthome-buttons {
    top: 80px;
    left: 487px;
    width: 638px;
    height: 735px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  
  .checkinnstudenthome-studenthomebillpaymentbuttondesign1 {
  
    top: -330px;
    left: -78px;
    width: 310px;
    height: 310px;
    position: absolute;
    cursor: pointer;
  }
  .checkinnstudenthome-studenthomebillpaymentbuttondesign1:hover
  {
  opacity: .7;
  }
  .text10 {
    top: 800px;
    left: 408px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    font-size: 30px;
    font-style: SemiBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text10:hover
  {
  opacity: .6;
  }
  .checkinnstudenthome-studenthomequeriessubmissionbuttondesign1 {
    top: -330px;
    left: -26px;
    width: 310px;
    height: 310px;
    position: absolute;
  }
  .checkinnstudenthome-studenthomequeriessubmissionbuttondesign1:hover
  {
  opacity: .7;
  }
  .text12 {
    top: 800px;
    left: 30px;
    color: black;
    position: absolute;
    font-size: 30px;
    font-style: SemiBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    border-color: transparent;
    background-color: transparent;
  }
  .text12:hover
  {
  opacity: .6;
  }
  .checkinnstudenthome-studenthomestudentregistrationbuttondesign1 {
    bottom: 45px;
    left: -28px;
    width: 310px;
    height: 310px;
    position: absolute;
  }
  .checkinnstudenthome-studenthomestudentregistrationbuttondesign1:hover
  {
  opacity: .7;
  }
  .text14 {
    top: 412px;
    left: 358px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    font-style: SemiBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 600;
    position: absolute;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text14:hover
  {
  opacity: .6;
  }
  .checkinnstudenthome-studenthomemessmanagementbuttondesign1 {
    bottom: 45px;
    left: -26px;
    width: 310px;
    height: 310px;
    position: absolute;
  }
  .checkinnstudenthome-studenthomemessmanagementbuttondesign1:hover
  {
  opacity: .7;
  }
  .text16 {
    top: 412px;
    left: 30px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    font-size: 30px;
    font-style: SemiBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text16:hover
  {
  opacity: .6;
  }
  .checkinnstudenthome-logopicstudenthome {
    top: 85px;
    left: 1222px;
    width: 101px;
    height: 90px;
    position: absolute;
  }
  