.stdntconnect-group2 {
  width: 100%;
  height: 1024px;
  display: flex;
  top: 0px;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  background-color: rgba(255, 246, 238);
  }
  h1 {
    
    top: 150px;
    left: 350px;
    margin: 25px auto 0 -35px;
    position: absolute;
    font-size: 40px;
    font-style: Bold;
    font-family: Outfit;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
}
  .stdntconnect-sidebarbox2 {
    top: 0px;
    left: 0px;
    width: 192px;
    height: 100%;
    position: relative;
    background-color: #266221;
  }
  
  .connect-navigation2 {
    margin-top: 20px;
  }
  
  .connect-sidebar2{
    width: 192px;
    height: 1024px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .active1-111{
   top: 285px;
    left: 71px;
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
  }
.active1-111:hover{
  opacity: .6;
}
  .icon1-111{
    top: 285px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffffff;
  }
  .menu-text1-111{
    top: 50px;
    left: -6px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     white-space: nowrap;
     display: flex;
   }
   .menu-text1-111:hover{
    opacity: .6;
  }
  .active2-222{
    top: 435px;
     left: 71px;
     position: absolute;
     width: 50px;
     height: 50px;
     display: flex;
   }
   .active2-222:hover{
    opacity: .6;
  }
  .icon2-222{
    top: 435px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffffff;
  }
  .menu-text2-222{
    top: 50px;
    left: -17px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     display: flex;
     white-space: nowrap;
   }
   .menu-text2-222:hover{
    opacity: .6;
  }
  .active3-333{
    top: 585px;
     left: 71px;
     position: absolute;
     width: 50px;
     height: 50px;
     display: flex;
   }
   .active3-333:hover{
    opacity: .6;
  }
  .icon3-333{
    top: 585px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffffff;
  }
  .menu-text3-333{
    top: 50px;
    left: -40px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     display: flex;
     white-space: nowrap;
   }
   .menu-text3-333:hover{
    opacity: .6;
  }
  .active4-444{
    top: 735px;
     left: 71px;
     position: absolute;
     width: 50px;
     height: 50px;
     display: flex;
   }
   .active4-444:hover{
    opacity: .6;
  }
  .icon4-444{
    top: 735px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffa74f;

  }
  .menu-text4-444{
    top: 50px;
    left: 2px;
     color: #ffa74f;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     display: flex;
     white-space: nowrap;
   }
   .menu-text4-444:hover{
    opacity: .6;
  }
  .stdntconnect-logopic2{
    top: 85px;
    left: 1222px;
    width: 101px;
    height: 90px;
    position: absolute;
  }

.cnct-container2{
  margin: -775px auto 0px 279px;
  width: 960px;
  height: 590px;
  background-color: #ffffff;
  font-size: 25px;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 4px 4px 4px #0000002e;
}
.textinput12{
  display: flex;
  padding: 40px 50px 0px 50px;
  justify-content: space-between;
}
.stdntcnctmsg-input1 {
  color: #000000;
  font-size: 25px;
  font-family: Outfit;
  font-weight: 400;
  width: 300px;
  height: 50px;
  
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  background-color: transparent;
}
.stdntcnctmsg-input1:focus {
  background-color: rgba(183, 183, 183, 0.2);
    }
    .stdntcnctmsg-input2 {
      color: #000000;
      font-size: 25px;
      font-family: Outfit;
      font-weight: 400;
      width: 300px;
      height: 50px;
      
      border: 1px solid #b7b7b7;
      border-radius: 5px;
      cursor: pointer;
      padding: 0px 10px 0px 10px;
      background-color: transparent;
    }
    .stdntcnctmsg-input2:focus {
      background-color: rgba(183, 183, 183, 0.2);
        }
        .textinput34{
          display: flex;
          justify-content: space-between;
          padding: 70px 50px 0px 50px;
        }
        .stdntcnctmsg-input3 {
          color: #000000;
          font-size: 25px;
          font-family: Outfit;
          font-weight: 400;
          width: 300px;
          height: 50px;
          border: 1px solid #b7b7b7;
          border-radius: 5px;
          padding: 0px 10px 0px 10px;
          cursor: pointer;
          background-color: transparent;
        }
        .stdntcnctmsg-input3:focus {
          background-color: rgba(183, 183, 183, 0.2);
            }
            .stdntcnctmsg-input4 {
              color: #000000;
              font-size: 25px;
              font-family: Outfit;
              font-weight: 400;
              width: 300px;
              height: 50px;
              border: 1px solid #b7b7b7;
              border-radius: 5px;
              padding: 0px 10px 0px 10px;
              cursor: pointer;
              background-color: transparent;
            }
            .stdntcnctmsg-input4:focus {
              background-color: rgba(183, 183, 183, 0.2);
                }

                .stdntcnctmsg-input5 {
                  display: flex;
                  margin: 70px 0px 0px 50px ;
                  color: #000000;
                  font-size: 25px;
                  font-family: Outfit;
                  font-weight: 400;
                  width: 850px;
                  height: 200px;
                  border: 1px solid #b7b7b7;
                  border-radius: 5px;
                  cursor: pointer;
                  padding: 10px 10px 0px 10px;
                  background-color: transparent;
                }
                .stdntcnctmsg-input5:focus {
                  background-color: rgba(183, 183, 183, 0.2);
                    }
                    .submit-button1 {
                      top: 840px;
                      left: 659px;
                      color: #ffffff;
                      width: 300px;
                      height: 50px;
                      position: absolute;
                      font-family: Outfit;
                      font-size: 30px;
                      font-style: normal;
                      font-weight: 400;
                      border: none;
                      border-radius:7px;
                      cursor: pointer;
                      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
                      background-color: #226621;
                    }
                    .submit-button1:hover {
                    opacity: .7;
                  }

 