body {
    background-color: rgba(255, 246, 238);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  h1 {
    
    top: 150px;
    left: 350px;
    margin: 25px auto 0 -35px;
    position: absolute;
    font-size: 40px;
    font-style: Bold;
    font-family: Outfit;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
}
  .stdntsettingsmore-sidebarbox {
    top: 0px;
    left: 0px;
    width: 192px;
    height: 100%;
    position: absolute;
    background-color: #266221;
  }
  
  .settingsmore-navigation {
    margin-top: 20px;
  }
  
  .settingsmore-sidebar{
    width: 192px;
    height: 1024px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .settingsmore-1{
   top: 285px;
    left: 71px;
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
  }
.settingsmore-1:hover{
  opacity: .6;
}
  .settingsmoreicon-1{
    top: 285px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffffff;
  }
  .settingsmoretext-1{
    top: 50px;
    left: -6px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     white-space: nowrap;
     display: flex;
   }
   .settingsmoretext-1:hover{
    opacity: .6;
  }
  .settingsmore-2{
    top: 435px;
     left: 71px;
     position: absolute;
     width: 50px;
     height: 50px;
     display: flex;
   }
   .settingsmore-2:hover{
    opacity: .6;
  }
  .settingsmoreicon-2{
    top: 435px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffa74f;
  }
  .settingsmoretext-2{
    top: 50px;
    left: -17px;
     color: #ffa74f;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     display: flex;
     white-space: nowrap;
   }
   .settingsmoretext-2:hover{
    opacity: .6;
  }
  .settingsmore-3{
    top: 585px;
     left: 71px;
     position: absolute;
     width: 50px;
     height: 50px;
     display: flex;
   }
   .settingsmore-3:hover{
    opacity: .6;
  }
  .settingsmoreicon-3{
    top: 585px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffffff 
   }
  .settingsmoretext-3{
    top: 50px;
    left: -40px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     display: flex;
     white-space: nowrap;
   }
   .settingsmoretext-3:hover{
    opacity: .6;
  }
  .settingsmore-4{
    top: 735px;
     left: 71px;
     position: absolute;
     width: 50px;
     height: 50px;
     display: flex;
   }
   .settingsmore-4:hover{
    opacity: .6;
  }
  .settingsmoreicon-4{
    top: 735px;
    left: 71px;
    width: 50px;
    height: 50px;
    display: flex;
    fill: #ffffff;

  }
  .settingsmoretext-4{
    top: 50px;
    left: 2px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;
     display: flex;
     white-space: nowrap;
   }
   .settingsmoretext-4:hover{
    opacity: .6;
  }
  .stdntsettingsmore-logopic{
    top: 85px;
    left: 1222px;
    width: 101px;
    height: 90px;
    position: absolute;
  }
  .stdntsettingsmore-headerbox {
    top: 201px;
    left: 192px;
    height: 130px;
    width: 1231px;
    position: absolute;
    background-color: #266221;
  }
  .settingsmoretext-5{
    top: 50px;
    left: 150px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;

     
   }
   .settingsmoretext-5:hover{
    opacity: .6;
  }
  .settingsmoretext-6{
    top: 50px;
    left: 500px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;

     
   }
   .settingsmoretext-6:hover{
    opacity: .6;
  }
  .settingsmoretext-7{
    top: 50px;
    left: 900px;
     color: #ffffff;
     font-size: 25px;
     font-family: Outfit;
     font-weight: 200;
     position: absolute;

     
   }
   .settingsmoretext-7:hover{
    opacity: .6;
  }
  .stdntsettingsmore-form {
    display: grid;
    width: 900px;
    margin: 600px 0px 100px 70px;
    gap: 15px;
  }
  .settingsmore-username1{
    position: absolute;
    top: 405px;
    left: 256.5px;
    font-weight: 600;
    font-size: 25px;
  }
  #settingsmore-username{
    width: 330px;
    height: 50px;
    display: flex;
    position: absolute;
    top: 451px;
    left: 256.5px;
   padding: 0px 10px;
    font-weight: 400;
    font-size: 25px;
    border-radius: 7px;
    border: 1px solid #b7b7b7;
    cursor: pointer;
    background-color: transparent;
  }
  .settingsmore-password1{
    position: absolute;
    top: 405px;
    left: 651px;
    font-weight: 600;
    font-size: 25px;
  }
  #settingsmore-password{
    width: 330px;
    height: 50px;
    display: flex;
   padding: 0px 10px;
    position: absolute;
    top: 451px;
    left: 651px;
    font-weight: 400;
    font-size: 25px;
    border-radius: 7px;
    border: 1px solid #b7b7b7;
    cursor: pointer;
    background-color: transparent;

  }
  .settingsmore-income1{
    position: absolute;
    top: 555px;
    left: 651px;
    font-weight: 600;
    font-size: 25px;
  }
  #settingsmore-income{
    width: 330px;
    height: 50px;
    position: absolute;
    top: 601px;
    left: 651px;
    display: flex;
   padding: 0px 10px;
    font-weight: 400;
    font-size: 25px;
    border-radius: 7px;
    border: 1px solid #b7b7b7;
    cursor: pointer;
    background-color: transparent;
  }
  .settingsmore-disfrmhome1{
    position: absolute;
    top: 555px;
    left: 1045.5px;
    font-weight: 600;
    font-size: 25px;
  }
  #settingsmore-disfrmhome{
    width: 330px;
    height: 50px;
    display: flex;
    position: absolute;
    top: 601px;
    left: 1045.5px;
   padding: 0px 10px;
    font-weight: 400;
    font-size: 25px;
    border-radius: 7px;
    border: 1px solid #b7b7b7;
    cursor: pointer;
    background-color: transparent;
  }
      .settingsmore-parntname1{
        position: absolute;
        top: 405px;
        left: 1045.5px;
        font-weight: 600;
        font-size: 25px;
      }
  #settingsmore-parntname{
    width: 330px;
    height: 50px;
    display: flex;
    position: absolute;
    top: 451px;
    left: 1045.5px;
   padding: 0px 10px;
    font-weight: 400;
    font-size: 25px;
    border-radius: 7px;
    border: 1px solid #b7b7b7;
    cursor: pointer;
    background-color: transparent;
  }
  .settingsmore-parntphno1{
    position: absolute;
    top: 555px;
    left: 256.5px;
    font-weight: 600;
    font-size: 25px;
  }
  #settingsmore-parntphno{
    width: 330px;
    height: 50px;
    display: flex;
    position: absolute;
    top: 601px;
    left: 256.5px;
   padding: 0px 10px;
    font-weight: 400;
    font-size: 25px;
    border-radius: 7px;
    border: 1px solid #b7b7b7;
    cursor: pointer;
    background-color: transparent;
  }

  .settingsmore-address1{
    position: absolute;
    top: 708px;
    left: 256.5px;
    font-weight: 600;
    font-size: 25px;
  }
  .settingsmore-address{
    width: 724px;
    height: 180px;
    display: flex;
    position: absolute;
    top: 754px;
    left: 256.5px;
    padding: 10px 10px 0px 10px;
    font-weight: 400;
    font-size: 25px;
    border-radius: 7px;
    border: 1px solid #b7b7b7;
    cursor: pointer;
    background-color: transparent;
  }
  
  .settingsmorepic{
    width: 60px;
    height: 40px;
    position: absolute;
    top: 115px;
    left: 165px;
  }
  .moremore-button{
    top: 820px;
    left: 1045.5px;
    color: #000000;
    width: 352px;
    height: 52px;
    position: absolute;
    font-family: Outfit;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    padding: 0px 10px 0px 60px;
    border: 1px solid #b7b7b7;
    border-radius:7px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: transparent;
  }
  .moremore-button:hover{
  opacity: .7;
  }
  .moremoreicon1{
    top: 9px;
    right: 222px;
    width: 32px;
    position: absolute;
    height: 32px;
    display: flex;
    fill:transparent;
    stroke-width: 30px;
    stroke: #000000;
  }
  .moremoreicon2 {
    top: 9px;
    right: 205px;
    position: absolute;
    width: 67px;
    height: 32px;
    display: flex;
    fill: #000000;
  }

 

 