
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=FuturaAgMiteOpti:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-futuraagmiteopti: FuturaAgMiteOpti;
  --font-outfit: Outfit;

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-11xl: 30px;
  --font-size-61xl: 80px;
  --font-size-131xl: 150px;

  /* Colors */
  --color-black: #000;
  --color-darkgreen: #266221;
  --color-darkslategray-100: #37342d;
  --color-white: #fff;
  --color-gainsboro: rgba(217, 217, 217, 0);
  --color-sandybrown: #ffa74f;
  --color-seashell-100: rgba(255, 246, 238, 0.2);

  /* border radiuses */
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-11xl: 30px;
}

